body {
  font-family: 'Muli';
}

#section1,
#section2,
#section3,
#section4 {
  background-size: cover;
}

#section1 {
  background-image: url(../img/section1.jpg);
}

/* #section3 {
  background-image: url(./section3.jpg);
} */
.section {
  text-align: center;
  padding-top: 3rem;
}

div#section3 {
  color: white;
}

/* .servicesHead {
  position: absolute;
  top: 50px;
} */

.navigation {
  width: 100%;
  text-align: center;
}

#next {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  z-index: 9999;
  color: white;
  background-color: #008fb0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  cursor: pointer;

  /* -ms-transform: rotate(450deg);
  -webkit-transform: rotate(450deg);
  transform: rotate(450deg); */
}

#menu {
  /* transform: translateX(-50%); */
  position: fixed;
  z-index: 999;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  height: 50px;
  width: auto;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50px;
  padding: 25px;
}
a.menu-item {
  display: none;
  text-decoration: none;
  color: white;
  width: max-content;
  /* -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); */
}
a.menu-item.active {
  display: block;
}
.logo-icon {
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  background-color: #008fb0;
  height: 50px;
  width: 50px;
  z-index: 9999;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 0;
  overflow-x: visible;
}

#sidebar-menu {
  position: absolute;
  top: 0;
  left: -320px;
  width: 280px;
  height: 100%;
  background-color: #008fb0;
  z-index: -1;
  padding-top: 75px;
  border: none;
  transition: left 0.5s ease-in-out 0ms;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.menu-item2 {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.close-btn {
  margin-top: 5rem;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  position: absolute;
  top: -45px;
  right: 5px;
}

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 1s 0.4s;
}

#progress {
  height: auto;
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.download {
  display: flex;
  margin-bottom: 35px;
  flex-direction: column;
  align-items: center;
}

.downloadBtn {
  border: 1px black solid;
  padding: 5px;
  font-size: 2rem;
  margin-top: 2rem;
  transition: background-color 1s, color 1s;
  cursor: pointer;
  text-decoration: none;
  background-color: #ffa713;
  color: black;
}

.downloadBtn:hover {
  background-color: black;
  color: #ffa713;
  text-decoration: none;
}

.downloadBtn:focus {
  background-color: #ffa713;
  color: black;
  text-decoration: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 3rem;
}

.social-links a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
}

a.project_link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a.menu-links {
  /* border-bottom:1px solid; */
  text-decoration: none;
  padding: 2px;
  color: white;
  font-size: 10px;
}
a.menu-links.active {
  font-weight: bold;
  color: #b00020;
}

.phoneContacts {
  display: block;
}
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575px) {
  .container {
    margin-top: 17%;
  }
  #menu {
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size: 3rem;
  }
  a.menu-item {
    display: none;
    text-decoration: none;
    color: white;
    width: max-content;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
} */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
  .container {
    margin-top: 17%;
  }
  #menu {
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size: 3rem;
  }
  a.menu-item {
    display: none;
    text-decoration: none;
    color: white;
    width: max-content;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .close-btn,
  .phoneContacts {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* .section {
  width: 95%;
} */
/*
ul#menu {
  list-style: none;
  display: inline-flex;
}

.menu-item {
  padding-left: 15px;
  padding-right: 15px;
  border: solid 1px black;
  border-radius: 25px;
  margin: 0 15px 0 15px;
} */

.homeContent {
  color: #fff;
  text-align: center;
  width: 100%;
  display: inline-block;
}

p.homeText {
  font-size: 2rem;
  font-family: 'Muli';
  font-weight: bold;
}

.homeHeading {
  font-size: 5vw;
  font-family: 'Muli';
  /* margin-top: 2vw; */
  letter-spacing: 10px;
}
.marked {
  background-color: #008fb0;
}

#cover {
  background: url('http://www.aveva.com/Images/ajax-loader.gif') no-repeat
    scroll center center #fff;
  position: absolute;
  height: 100%;
  width: 100%;
}

img.imgDiv {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

img.imgDiv:hover {
  opacity: 0.7;
}

/* API */

/*
.card:nth-child(2n) h1.cardHeading {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1.cardHeading {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1.cardHeading {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
} */

/* .cardDesc {
  background-color: grey;
  opacity: 0;
}
.cardDesc:hover {
  opacity: 1;
} */

#DocumentResults {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
